<!DOCTYPE html>
<html>
  <head>
    <title>Danny Park's website</title>
    <link rel="stylesheet" type="text/css" href="static/css/mystyle.css">

  </head>
    <body class="sans-serif">

<!--  <body class="comicsans"> -->
<!--
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
-->
  <script src="static/js/scripts.js"></script>

  <script>
    var myArticles = {{ articles|tojson }};
    var articlesObject = {objectArray: myArticles, objectElementId: "journal_articles", objectCounter: 0, objectMoreButton: "articles_more", objectLessButton: "articles_less", objectShowing: "articles_showing", objectHeading: "articles_heading", objectHeadingText: "Journal Articles"};
    var hiPlexArticles = {{ hiplex_articles|tojson }};
    var hiplexarticlesObject = {objectArray: hiPlexArticles, objectElementId: "hiplex_journal_articles", objectCounter: 0, objectMoreButton: "hiplex_articles_more", objectLessButton: "hiplex_articles_less", objectShowing: "hiplex_articles_showing", objectHeading: "hiplex_articles_heading", objectHeadingText: "Hi-Plex Journal Articles"};
    var myChapters = {{ chapters|tojson }};
    var chaptersObject = {objectArray: myChapters, objectElementId: "book_chapters", objectCounter: 0, objectShowHide: "chapters_toggle", objectHeading: "chapters_heading", objectHeadingText: "Book Chapters"};
    var myBooks = {{ books|tojson }};
    var booksObject = {objectArray: myBooks, objectElementId: "books", objectCounter: 0, objectShowHide: "books_toggle", objectHeading: "books_heading", objectHeadingText: "Books"};
    var myPatents = {{ patents|tojson }};
    var patentsObject = {objectArray: myPatents, objectElementId: "patents", objectCounter: 0, objectMoreButton: "patents_more", objectLessButton: "patents_less", objectShowing: "patents_showing", objectHeading: "patents_heading", objectHeadingText: "Patents"};
    var myConferences = {{ conferences|tojson }};
    var conferencesObject = {objectArray: myConferences, objectElementId: "conferences", objectCounter: 0, objectMoreButton: "conferences_more", objectLessButton: "conferences_less", objectShowing: "conferences_showing", objectHeading: "conferences_heading", objectHeadingText: "Conferences"};

    var myGrants = {{ grants|tojson }};
    var grantsObject = {objectArray: myGrants, objectElementId: "grants", objectCounter: 0, objectMoreButton: "grants_more", objectLessButton: "grants_less", objectShowing: "grants_showing", objectHeading: "grants_heading", objectHeadingText: "Grants"};

//var conferencesObject = {objectArray: myConferences, objectElementId: "conferences", objectCounter: 0, objectShowHide: "conferences_toggle", objectHeading: "conferences_heading", objectHeadingText: "Conferences"};
    var myPhdStudents = {{ phd_students|tojson }};
    var phdStudentsObject = {objectArray: myPhdStudents, objectElementId: "phd_students", objectCounter: 0, objectShowHide: "phds_toggle", objectHeading: "phds_heading", objectHeadingText: "PhD Students"};
    var myMastersStudents = {{ masters_students|tojson }};
    var mastersStudentsObject = {objectArray: myMastersStudents, objectElementId: "masters_students", objectCounter: 0, objectShowHide: "masters_toggle", objectHeading: "masters_heading", objectHeadingText: "Masters Students"};
    var myHonoursStudents = {{ honours_students|tojson }};
    var honoursStudentsObject = {objectArray: myHonoursStudents, objectElementId: "honours_students", objectCounter: 0, objectShowHide: "honours_toggle", objectHeading: "honours_heading", objectHeadingText: "Honours Students"};
    var myInterns = {{ interns|tojson }};
    var internsObject = {objectArray: myInterns, objectElementId: "interns", objectCounter: 0, objectShowHide: "interns_toggle", objectHeading: "interns_heading", objectHeadingText: "Interns"};
  </script>

<!-- CREATING A BANNER WITH IMAGE AND TEXT -->
    <div class="banner-container">
      <img class="banner-image" src="static/img/djp_portrait_cropped_low_res.jpg">
      <div class="banner-top-right"></div>
      <div class="banner-bottom-right"></div>
      <div class="banner-centered"><span style="font-size: 16pt">A/PROF DANNY PARK<br></span><span style="font-size: 12pt">MOLECULAR BIOLOGIST<br>BIOINFORMATICIAN</span></div>
    </div>

    <h3>BIOGRAPHY</h3>

    <p class="container-text">I read Natural Sciences at The University of Cambridge from 1992-1995 and subsequently completed my PhD in the Department of Biochemistry. Since then, I have worked across a wide range of molecular biology and bioinformatics projects.
    <br><br>I based for two years at the Mycobacterium Reference Unit at King's College Hospital, London, co-developing rapid diagnostics for TB. In 2001, I relocated to The University of Melbourne, inventing a suite of methods for determining sequences of DNA or RNA adjacent to known regions - these allowed the characterisation of genes that had proven intractible to prior approaches.
    <br><br>From 2004-2009, with Genera Biosystems, I developed new technologies for cervical cancer diagnostics, resulting in a suite of international patents and a TGA-certified HPV detection and typing system adopted by major pathology service providers. A key development was the conception of enhanced methods to load PCR products onto solid support beads to facilitate signal detection.
    <br><br>Since 2009, I have been based with The University of Melbourne in the Department of Pathology and, subsequently, Melbourne Bioinformatics, during which time I developed myriad computing and data science skills. I conceived new approaches to filtering and annotating very large cohort sequencing datasets and created HiPlex and HiPlex2 for efficient targeted sequence-screening - employed across tens of thousands of specimens by large international consortia, saving millions of dollars.
    <br><br>Today, I am the Academic Lead/Director of Melbourne Bioinformatics, a team of highly skilled bioinformaticians who develop research infrastructure, teach and supervise higher degree students, provide consultation, and engage in collaborative research with our Life Science colleagues across the University and Parkville Precinct. Currently, my research interests include: identifying effective peptide vaccines to harness the immune system against cancer; and predicting protein functional effects of mutations to benefit diagnosis and discovery.
    </p>


    <h3>Publications</h3>

    <h4 id="articles_heading" style="display:inline-block">Journal Articles</h4>
    <button id="articles_less" style="display:none" class="btn" onclick="clickLess(articlesObject)">Less</button>
    <button id="articles_more" style="display:inline-block" class="btn" onclick="clickMore(articlesObject)">More</button>
    <div id="articles_showing" style="display:inline-block"></div>
    <div id="journal_articles" style="display:none" class="text-list"></div>
    <br>
<!--
    <script type="text/javascript">initLoad(articlesObject);</script>
-->
    <h4 id="hiplex_articles_heading" style="display:inline-block">Hi-Plex Journal Articles</h4>
    <button id="hiplex_articles_less" style="display:none" class="btn" onclick="clickLess(hiplexarticlesObject)">Less</button>
    <button id="hiplex_articles_more" style="display:inline-block" class="btn" onclick="clickMore(hiplexarticlesObject)">More</button>
    <div id="hiplex_articles_showing" style="display:inline-block"></div>
    <div id="hiplex_journal_articles" style="display:none" class="text-list"></div>
    <br>

    <h4 id="chapters_heading" style="display:inline-block">Book Chapters</h4>
    <button id="chapters_toggle" style="display:inline-block" class="btn" onclick="toggle(chaptersObject)">Expand</button>
    <div id="book_chapters" style="display:none" class="text-list"></div>
    <br>

    <h4 id="books_heading" style="display:inline-block">Books</h4>
    <button id="books_toggle" style="display:inline-block" class="btn" onclick="toggle(booksObject)">Expand</button>
    <div id="books" style="display:none" class="text-list"></div>
    <br>

    <h4 id="patents_heading" style="display:inline-block">Patents</h4>
    <button id="patents_less" style="display:none" class="btn" onclick="clickLess(patentsObject)">Less</button>
    <button id="patents_more" style="display:inline-block" class="btn" onclick="clickMore(patentsObject)">More</button>
    <div id="patents_showing" style="display:inline-block"></div>
    <div id="patents" style="display:none" class="text-list"></div>
    <br>

    <h4 id="conferences_heading" style="display:inline-block">Conferences</h4>
    <button id="conferences_less" style="display:none" class="btn" onclick="clickLess(conferencesObject)">Less</button>
    <button id="conferences_more" style="display:inline-block" class="btn" onclick="clickMore(conferencesObject)">More</button>
    <div id="conferences_showing" style="display:inline-block"></div>
    <div id="conferences" style="display:none" class="text-list"></div>
    <br>

    <h4 id="grants_heading" style="display:inline-block">Grants</h4>
    <button id="grants_less" style="display:none" class="btn" onclick="clickLess(grantsObject)">Less</button>
    <button id="grants_more" style="display:inline-block" class="btn" onclick="clickMore(grantsObject)">More</button>
    <div id="grants_showing" style="display:inline-block"></div>
    <div id="grants" style="display:none" class="text-list"></div>
    <br>
<!--
    <h4 id="conferences_heading" style="display:inline-block">Conferences</h4>
    <button id="conferences_toggle" style="display:inline-block" class="btn" onclick="toggle(conferencesObject)">Expand</button>
    <div id="conferences" style="display:none" class="text-list"></div>
    <br>
-->

    <h3>Students</h3>

    <h4 id="phds_heading" style="display:inline-block">PhD Students</h4>
    <button id="phds_toggle" style="display:inline-block" class="btn" onclick="toggle(phdStudentsObject)">Expand</button>
    <div id="phd_students" style="display:none" class="text-list"></div>
    <br>

    <h4 id="masters_heading" style="display:inline-block">Masters Students</h4>
    <button id="masters_toggle" style="display:inline-block" class="btn" onclick="toggle(mastersStudentsObject)">Expand</button>
    <div id="masters_students" style="display:none" class="text-list"></div>
    <br>

    <h4 id="honours_heading" style="display:inline-block">Honours Students</h4>
    <button id="honours_toggle" style="display:inline-block" class="btn" onclick="toggle(honoursStudentsObject)">Expand</button>
    <div id="honours_students" style="display:none" class="text-list"></div>
    <br>

    <h4 id="interns_heading" style="display:inline-block">Interns</h4>
    <button id="interns_toggle" style="display:inline-block" class="btn" onclick="toggle(internsObject)">Expand</button>
    <div id="interns" style="display:none" class="text-list"></div>

  </body>
</html>
